# Criado por https://www.toptal.com/developers/gitignore/api/c,visualstudiocode
# Edite em https://www.toptal.com/developers/gitignore?templates=c,visualstudiocode

###C###
# Pré-requisitos
*.d

# Arquivos de objetos
*.o
*.ko
*.obj
*.duende

# Saída do vinculador
*.ilk
*.mapa
*.exp

# Cabeçalhos pré-compilados
*.gch
*.pch

# Bibliotecas
*.lib
*.a
*.la
*.lo

# Objetos compartilhados (incluindo DLLs do Windows)
*.dll
*.então
*.então.*
*.dylib

# Executáveis
*.exe
*.fora
*.aplicativo
*.i*86
*.x86_64
*.hex.

#Depurar arquivos
*.dSYM/
*.su
*.idb
*.pdb

# Resultados da compilação do módulo Kernel
*.mod*
*.cmd
.tmp_versions/
módulos.pedido
Módulo.symvers
Mkfile.old
dkms.conf

###VisualStudioCode###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensões.json
!.vscode/*.code-snippets

# Histórico local para código do Visual Studio
.história/

# Construídas extensões de código do Visual Studio
*.vsix

###Patch do VisualStudioCode###
# Ignora todo o histórico local de arquivos
.história
.ionido

# Fim de https://www.toptal.com/developers/gitignore/api/c,visualstudiocode